{% extends "layout.html" %}
{% block content %}


    <h5 class="brown-header">Submit New Remittance Job list For Today</h5>
      <form name="data" class="gray-box" action={{site_url}}/new_remit method='post'>
        <br>
        <div class="form-group">
          <label for="rem_text">&nbsp;&nbsp;Remittance Text:&nbsp;</label>
        </div>
        <div class="form-group">
          &nbsp;&nbsp;<textarea name="rem_text" rows="5" cols="50"></textarea>
        </div>  
        <hr>
        <div class="form-group">
          <label>
          &nbsp;&nbsp;<button class="btn-primary" type="submit">Update database</button>
          </label>  
        </div>
      </form>
     
    </div>

    <div>
      <hr>
      <h5 class="header-brown"> Today Remittance List </h5>
      <table border=0 class="table table-responsive">
        <thead>
          <tr>
            <th>ID</th>
            <th>No</th>
            <th>Submitted</th>
            <th>Remittance</th>
            <th>Remittance Ref</th>
            <th>Comments</th>
            <th>Active</th>
          </tr>
        </thead>
        <tbody>
          {% for job in jobs %}
          <tr>
              <td>{{job.id}}</td>
              <td>{{job.job_no}}</td>
              <td>{{job.submited_date}}</td>
              <td>{{job.remittance_date}}</td>
              <td>{{job.remittance_ref}}</td>
              <td>{{job.comments}}</td>
              <td>{{job.active}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <hr>
    </div>

{% endblock content %}
